
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        box-sizing: border-box;
        background:gray;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 50px;
}

section{
    display: flex;
    flex-flow: row wrap; justify-content: center; width: 100%;
    padding-bottom: 20px; margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb; background-color: #fff;
    }

h2 {
    color: #333;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

img {
    margin: 10px; /* Add some space around the images */
    border-radius: 5px; /* Add rounded corners to the images */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
    .comp2{
    
    display: flex;
    flex-flow: row wrap;
    justify-content : space-between;}
    .conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em; border-radius: 5px;
    background-color: grey;}
    .interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap; align-items: center; margin-bottom: 20px;
    }.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
    }
    